<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gmax">
    <!-- WebService 사용시 추가 할 코드 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MySession"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppGJTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".dialog_Loading"
            android:exported="false"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppGJTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorPopupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M10.M10_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M10.M11_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M10.M11_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M10.M12_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M10.M13_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- 자동으로 키보드 올라오는것 방지(windowSoftInputMode) -->
        <activity
            android:name=".M10.M13_LOT_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- 자동으로 키보드 올라오는것 방지(windowSoftInputMode) -->
        <activity
            android:name=".M10.M14_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M20.M20_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M20.M21_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M20.M21_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M20.M22_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M40.M40_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M40.M41_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".M40.M41_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".M40.M42_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".M40.M43_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M40.M43_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".M40.M44_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".I10.I10_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I10.I11_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I10.I11_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I10.I13_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I20_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I21_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I21_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I22_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I22_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I25_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I26_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I27_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I20.I27_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I30_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I31_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I31_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I34_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I35_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I35_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I36_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I37_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I37_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I38_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I30.I38_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I40.I40_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I50.I50_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I60.I60_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I60.I62_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S10_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S11_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S11_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S12_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S12_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S12_PKG_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- 자동으로 키보드 올라오는것 방지(windowSoftInputMode) -->
        <activity
            android:name=".S10.S12_LOT_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S12_CUSTOM_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- 자동으로 키보드 올라오는것 방지(windowSoftInputMode) -->
        <activity
            android:name=".S10.S13_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S14_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S14_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S15_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S16_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S16_DTL_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S10.S17_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I70_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I71_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I72_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I73_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I74_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I75_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I76_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I77_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I78_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".I70.I79_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".P10.P10_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".P10.P14_QUERY_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".P10.P14_SAVE_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M30.M30_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M30.M31_HDR_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>